useDynLib(tranSurv, .registration = TRUE)
importFrom("survival", Surv, survfit)
importFrom("SQUAREM", squarem)
importFrom("rootSolve", uniroot.all)
importFrom("graphics", "abline", "legend", "lines", "par",
           "plot", "points", "title", "mtext", "text")
importFrom("stats", "approx", "optimize", "pnorm", "uniroot")
importFrom("stats", "coef", "lm")
importFrom("utils", "head")
export(tranSurvfit, condKendall, uncondKendall, pmcc)
S3method(print, pmcc)
S3method(print, condKendall)
S3method(print, tranSurvfit)
